/*----------------------------------------------------*/
/* Font Face */
@font-face {
    font-family: "Cinzel-Static";
    src: url(font/CinzelDecorative-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Federo";
    src: url(font/Federo-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cinzel-Bold";
    src: url(font/CinzelDecorative-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

/*----------------------------------------------------*/
/* Body */
body {
    margin: 0;
    padding: 0;
    background: url(images/bg.jpg);
    background-color: #0b1838;
    color: white;
}

html {
    scroll-behavior: smooth;
}

#navButtons {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 30px;
    gap: 40px;
}

#navButtons button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    position: relative;
    width: 200px;
    height: 200px;
}

.star-button {
    width: 200px;
    height: 200px;
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease;
}

.star-button:hover{
    content: url(images/star-button2.png);
    transform: scale(1.2);
}


.buttonText {
    font-size: 17px;
    color: #0b1838;
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-family: "Federo";
}

#skillsText {
    font-size: 20px;
}

/*----------------------------------------------------*/
/* About Me Section */
#aboutSec {
    display: flex;
    justify-self: center;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
    margin-bottom: 90px;
    margin-top: 6px;
    padding-left: 200px;
}
#aboutMe {
    font-family: "Cinzel-Static";
    font-size: 70px;
    margin-left: 20px;
    color: #ffd700;
}
#aboutHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: -60px;
    margin-top: 40px;
}

.information {
    font-family: "Federo";
    font-size: 26px;
    justify-items: flex-start;
    line-height: 2;
    letter-spacing: 0.03em;
    word-spacing: 0.1em;

}

#logo {
    width: 60px;
    height: 60px; 
    margin-right: 50px;   
}

#personalPic {
    width: 400px;
    height: 400px;
    justify-self: center;
    margin-top: 100px auto 0 auto;
    border: 10px solid #ffd700;
}

#picContain {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 100px;
    transition: transform 0.3s ease;
}

#picContain:hover {
    transform: scale(1.05);
}

#picContain:hover img {
    border-color: #f9ef62;
}

#aboutInfo {
    display: flex;
    flex-direction: column;
}

/*----------------------------------------------------*/
/* Autobiography Section */
.autobiography {
    display: flex;
    text-align: justify;
    flex-direction: column;
    align-items: center;
    padding-left: 500px;
    padding-right: 250px;
    font-family: "Federo";
    font-size: 26px;
    text-indent: 4em;
    line-height: 3;
    letter-spacing: 0.03em;
    word-spacing: 0.1em;
}


/*----------------------------------------------------*/
/* Skills Section */
#skillsSec {
    justify-content: center;
    justify-self: center;
    justify-items: flex-start;
    padding-top: 200px;
    background-color: #040b1c;
    padding: 80px 0;
    width: 100%;
    margin-top: 300px;
    scroll-margin-top: 10vh;
}

#skills {
    font-family: "Cinzel-Static";
    font-size: 70px;
    justify-self: flex-start;
    padding-left: 500px;
    color: #ffd700
}

#skillsList {
    flex-flow: row wrap;
    font-size: 26px;
    padding-left: 500px;
    word-spacing: 0.6em;
}

#skill {
    border: 2px solid #ffd700;
}

/*----------------------------------------------------*/
/* Projects Section */
#projectsSec {
    flex-direction: column;
    padding-top: 50px;
    justify-content: center;
    justify-self: center;
    width: 100%;
    margin-top: 300px;
}

#projList {
    justify-content: flex-start;
    padding-left: 300px;
    display: flex;
    flex-wrap: wrap;
}
#projects {
    font-family: "Cinzel-Static";
    font-size: 70px;
    margin-left: 20px;
    color: #ffd700;
    justify-self: flex-start;
    padding-left: 300px;
}

#gardeningProj,
#teragardenProj,
#greenvaleProj {
    display: flex;
    align-items: center;
}

#gardeningProjText,
#teragardenProjText,
#greenvaleProjText {
    display: flex;
    flex-direction: column;
}

.projImg {
    width: 300px;
    height: 300px;
    margin: 40px; 
    object-fit: cover;
}

.projTitle {
    font-weight: bold;
    font-size: 30px;
    color: #ffd700
}

.projDesc {
    font-size: 20px;
}   
