/*----------------------------------------------------*/
/* Font Face */
@font-face {
    font-family: "Cinzel-Static";
    src: url(font/CinzelDecorative-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Federo";
    src: url(font/Federo-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/*----------------------------------------------------*/
/* Body */
body {
    background-color: #0b1838;
    color: white;
}

html {
    scroll-behavior: smooth;
}

#navButtons {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 20px;
}

#navButtons button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    position: relative;
    width: 150px;
    height: 150px;
}

#navButtons .star-button {
    width: 150px;
    height: 150px;
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.5));
}

.buttonText {
    font-size: 15px;
    color: #0b1838;
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-family: "Federo";
}

/*----------------------------------------------------*/
/* About Me Section */
#aboutSec {
    justify-self: center;
    justify-content: center;
    margin-bottom: 200px;
    
}
#aboutMe {
    font-family: "Cinzel-Static";
    font-size: 70px;
    margin-left: 20px;
    color: #ffd700;
}
#aboutHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.information {
    justify-items: center;
    font-size: 25px;

}

#logo {
    width: 60px;
    height: 60px; 
    margin-right: 30px;   
}

#personalPic {
    width: 400px;
    height: 400px;
    justify-self: center;
    padding-top: 100px;
}

#aboutInfo {
    display: flex;
    flex-direction: column;
}

/*----------------------------------------------------*/
/* Autobiography Section */
#autobiography {
    justify-self: center;
    font-size: 25px;
}


/*----------------------------------------------------*/
/* Skills Section */
#skillsSec {
    justify-content: center;
    justify-self: center;
    justify-items: center;
    padding-top: 200px;
}

#skills {
    font-family: "Cinzel-Static";
    font-size: 70px;
    justify-self: center;
    color: #ffd700
}

#skillsList {
    font-size: 30px;
}

/*----------------------------------------------------*/
/* Projects Section */
#projectsSec {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}

#projects {
    justify-self: center;
    justify-items: center;
}

#gardeningProj,
#teragardenProj,
#greenvaleProj {
    display: flex;
    align-items: center;
}

#gardeningProjText,
#teragardenProjText,
#greenvaleProjText {
    display: flex;
    flex-direction: column;
}

.projImg {
    width: 300px;
    height: 300px;
    margin: 40px; 
    object-fit: cover;
}

.projTitle {
    font-weight: bold;
    font-size: 30px;
    color: #ffd700
}

.projDesc {
    font-size: 20px;
}   
