/*----------------------------------------------------*/
/* Body */
body {
    background-color: #0b1838;
    color: white;
}

html {
    scroll-behavior: smooth;
}

#navButtons {
    position: fixed;
}
/*----------------------------------------------------*/
/* About Me Section */
#aboutSec {
    justify-self: center;
    justify-content: center;
    margin-bottom: 200px;
    
}
#aboutMe {
    font-size: 60px;
    margin-left: 20px;
    color: #ffd700

}
#aboutHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.information {
    justify-items: center;
    font-size: 25px;

}

#logo {
    width: 50px;
    height: 50px;    
}

#personalPic {
    width: 400px;
    height: 400px;
    justify-self: center;
    padding-top: 100px;
}

#aboutInfo {
    display: flex;
    flex-direction: column;
}

/*----------------------------------------------------*/
/* Autobiography Section */
#autobiography {
    justify-self: center;
    font-size: 25px;
}


/*----------------------------------------------------*/
/* Skills Section */
#skillsSec {
    justify-content: center;
    justify-self: center;
    justify-items: center;
    margin-top: 200px;
}

#skills {
    justify-self: center;
    font-size: 48px;
    color: #ffd700
}

#skillsList {
    font-size: 20px;
}

/*----------------------------------------------------*/
/* Projects Section */
#projectsSec {
    display: flex;
    flex-direction: column;
    padding-left: 25%;
}

#projects {
    justify-self: center;
}

#gardeningProj,
#teragardenProj,
#greenvaleProj {
    display: flex;
    align-items: center;
}

#gardeningProjText,
#teragardenProjText,
#greenvaleProjText {
    display: flex;
    flex-direction: column;
}

.projImg {
    width: 300px;
    height: 300px;
    margin: 40px; 
    object-fit: cover;
}

.projTitle {
    font-weight: bold;
    font-size: 30px;
    color: #ffd700
}

.projDesc {
    font-size: 20px;
}   
